{% extends "base.html" %}

{% block main %}

{% include 'partials/secret-nav.html' %}

<h4 class="pt-3">Confirm removal</h4>

<p class="pt-3">
    Confirm the removal of the <strong>{{ permission_display }}</strong> permission for the {% if user %} <strong>{{ user }}</strong>{% else %}group <strong>{{ group }}</strong>{% endif %}
    from the password <strong>{{ object.name }}</strong>
</p>

<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-danger">Remove permission</button>
</form>

{% endblock %}}
