{% extends "base.html" %}

{% block main %}

{% include 'partials/secret-nav.html' %}

<h4 class="pt-3">Confirm remove access</h4>

<p class="pt-3">
    Confirm remove access to secret <strong>"{{ object.name }}"</strong> for {{ object_type }} <strong>{{ target }}</strong>?
</p>

<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <input type="hidden" name="{{ object_type }}" value="{{ target.id }}">
    <button type="submit" class="btn btn-danger">Remove access</button>
</form>

{% endblock %}}
