{% extends "base.html" %}

{% load guardian_tags %}

{% block main %}

{% include "partials/secret-nav.html" %}

{% get_obj_perms request.user for object as "secret_perms" %}

  <div class="row mt-4">
    <div class="col-sm">

      <table class="table">
        <tbody>
          {% for file in object.files.all %}
          <tr>
            <th scope="row">{{ file.file_name }}</th>
            <td>{{ file.created }}</td>
            <td><a href="{% url 'secret:file_download' pk=pk file_pk=file.pk %}">Download</a></td>
            <td>
              {% if "change_secret" in secret_perms %}
              <a href="{% url 'secret:file_delete' pk=pk file_pk=file.pk %}">Delete</a>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td>No files available</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if "change_secret" in secret_perms %}
      <a class="btn btn-danger" href="{% url 'secret:file_add' pk=pk %}" role="button">Upload a file</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
