{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

{% include "partials/secret-nav.html" %}

  <div class="row mt-4">
    <div class="col-sm">

      {% if object.mfa_string %}
      <div class="jumbotron">
        <h1 class="display-4">{{ object.generate_otp_code }}</h1>
      </div>

      <a class="btn btn-danger" href="{% url 'secret:mfa_delete' pk=pk %}" role="button">Delete MFA client</a>
      {% else %}
      <a class="btn btn-danger" href="{% url 'secret:mfa_setup' pk=pk %}" role="button">Setup MFA client</a>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

    {{ block.super }}
    {% if mfa_code %}
    setTimeout(function(){
        location.reload();
    },2000);
    {% endif %}
</script>
{% endblock %}
