{% extends "base.html" %}

{% load crispy_forms_tags static %}

{% block main %}

{% include 'partials/secret-nav.html' %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">User/Group</th>
      <th scope="col">Permission</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for row in groups %}
    <tr>
      <td>{{ row.group }}</td>
      <td>
          {% crispy row.form %}
      </td>
      <td>
          <a href="{% url 'secret:delete-permission' pk=pk %}?group={{ row.group.id }}" class="badge badge-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
    {% for row in users %}
    <tr>
      <td>{{ row.user }}</td>
      <td>
          {% crispy row.form %}
      </td>
      <td>
          <a href="{% url 'secret:delete-permission' pk=pk %}?user={{ row.user.id }}" class="badge badge-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h5>Add a group</h5>
{% crispy group_form %}

<h5>Add a user</h5>
{% crispy user_form %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static "css/select2-bootstrap4.min.css" %}" rel="stylesheet" />
{% endblock %}

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script type="text/javascript">
{{ block.super }}
$(document).ready(function() {
    $('#id_group,#id_user').select2({
        theme: 'bootstrap4'
    });

    $('form.update_perms select').change(function(){
        $(this).parents("form.update_perms").submit();
    });
});
</script>
{% endblock %}
