{% extends "base.html" %}

{% load crispy_forms_tags static %}

{% block main %}

{% include 'partials/secret-nav.html' %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">User/Group</th>
      <th scope="col">Permissions</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for group, perm in groups %}
    <tr>
      <td>{{ group }}</td>
      <td>
          {{ perm.1 }}
      </td>
      <td>
          <a href="{% url 'secret:delete-permission' pk=pk %}?group={{ group.id }}&permission={{ perm.0 }}" class="badge badge-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
    {% for user, perm in users %}
    <tr>
      <td>{{ user }}</td>
      <td>
          {{ perm.1 }}
      </td>
      <td>
          <a href="{% url 'secret:delete-permission' pk=pk %}?user={{ user.id }}&permission={{ perm.0 }}" class="badge badge-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h5>Add a group</h5>
{% crispy group_form %}

<h5>Add a user</h5>
{% crispy user_form %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static "css/select2-bootstrap4.min.css" %}" rel="stylesheet" />
{% endblock %}

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script type="text/javascript">
{{ block.super }}
$(document).ready(function() {
    $('#id_group,#id_user').select2({
        theme: 'bootstrap4'
    });
});
</script>
{% endblock %}
