{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

{% include 'partials/secret-nav.html' %}

   {% crispy form %}

{% endblock %}}

{% block javascript %}
<script type="text/javascript">
    {{ block.super }}
    $(document).ready(function(){
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            }
            else{
                input.attr("type", "password");
            }
        });
        $(".copy-to-clipboard").click(function() {
            var input = $($(this).attr("copy"));
            var isPassword = input.attr("type") == "password"

            if(isPassword) {
                input.attr("type", "text");
            }

            input.select();
            document.execCommand("copy");

            if(isPassword) {
                input.attr("type", "password");
            }
        });
    });
</script>
{% endblock %}
