{% extends "base.html" %}

{% block main %}

    <table class="table table-striped" id="secrets-list">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Created</th>
            <th scope="col">Last updated</th>
        </tr>
        </thead>
        <tbody>
        {% for secret in page_obj %}
        <tr>
            <td><a href="{{ secret.get_absolute_url }}">{{ secret.name }}</a></td>
            <td>{{ secret.username }}</td>
            <td>{{ secret.created }}</td>
            <td>{{ secret.last_updated }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No passwords available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if not page.has_previous %}disabled{% endif %}">
          <a class="page-link" href="?page={% if page.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" tabindex="-1">Previous</a>
        </li>
        {% for page_index in paginator.page_range %}
        <li class="page-item {% if page_index == page_obj.number %}disabled{% endif %}">
            <a class="page-link" href="?page={{ page_index }}">{{ page_index }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if not page.has_next %}disabled{% endif %}">
          <a class="page-link" href="{% if page.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next</a>
        </li>
      </ul>
    </nav>

    <a href="{% url 'secret:create' %}" class="btn btn-primary">
        Add a new password
    </a>

{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}
