{% extends "base.html" %}

{% block main %}

{% include 'partials/secret-nav.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Action</th>
                    <th scope="col">User</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                {% for audit in audit_info %}
                <tr>
                    <th scope="row">{{ audit.timestamp }}</th>
                    <td>{{ audit.action }}</td>
                    <td>{{ audit.user }}</td>
                    <td>{{ audit.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}}
