{% extends "base.html" %}

{% load filter_tags %}

{% block main %}

    <table class="table table-striped" id="secrets-list">
        <thead>
        <tr>
            <th scope="col"><a href="{{ request.path }}{% filter_querystring 'name' %}" class="text-dark">Name <i class="fa fa-sort" aria-hidden="true"></i></a></th>
            <th scope="col"><a href="{{ request.path }}{% filter_querystring 'username' %}" class="text-dark">Username <i class="fa fa-sort" aria-hidden="true"></i></a></th>
            <th scope="col"><a href="{{ request.path }}{% filter_querystring 'url' %}" class="text-dark">Url <i class="fa fa-sort" aria-hidden="true"></i></a></th>
            <th scope="col"><a href="{{ request.path }}{% filter_querystring 'last_updated' %}" class="text-dark">Last updated <i class="fa fa-sort" aria-hidden="true"></i></a></th>
        </tr>
        <tr>
            <th scope="col" colspan="1">
                <form method="get" action="{% url 'secret:list' %}">
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search" name="name" {% if search_term %}value="{{ search_term }}"{% endif %}>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </th>
            <th scope="col" colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        {% for secret in page_obj %}
        <tr>
            <td><a href="{{ secret.get_absolute_url }}">{{ secret.name|truncatechars:30 }}</a></td>
            <td>{{ secret.username|truncatechars:30 }}</td>
            <td>{% if secret.url %}<a href="{{ secret.url }}" _blank="True">{{ secret.url|truncatechars:30 }}</a>{% endif %}</td>
            <td>{{ secret.last_updated }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No passwords available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
          <a class="page-link" href="{% if page_obj.has_previous %}{% page_querystring page_obj.previous_page_number %}{% endif %}" tabindex="-1">Previous</a>
        </li>
        {% for page_index in paginator.page_range %}
        <li class="page-item {% if page_index == page_obj.number %}disabled{% endif %}">
            <a class="page-link" href="{% page_querystring page_index %}">{{ page_index }}</a>
        </li>
        {% endfor %}

        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
          <a class="page-link" href="{% if page_obj.has_next %}{% page_querystring page_obj.next_page_number %}{% endif %}">Next</a>
        </li>
      </ul>
    </nav>

    <a href="{% url 'secret:create' %}" class="btn btn-primary">
        Add new secret
    </a>

{% endblock %}
