django==3.1.13
sentry-sdk
django-environ
dj-database-url
psycopg2
django-staff-sso-client
django-crispy-forms
django-filter
django-cryptography
django-guardian
django-otp
qrcode
pillow>=9.0.0
pyzbar
pyotp
django_log_formatter_ecs

whitenoise
gunicorn

# pinned transient dependencies
cryptography>=3.3.2
lxml>=4.6.5
