-r requirements.txt

pytest
pytest-django
pytest-sugar
pytest-mock
pytest-env
pytest-cov
pytest-freezegun
factory-boy
freezegun

flake8
flake8-blind-except
flake8-debugger
flake8-mutable
flake8-print

black>=22.6.0 
pre-commit==3.5.0
isort
codecov==2.1.13

lxml
mohawk>=1.1.0
