django
sentry-sdk
django-environ
dj-database-url
psycopg2
git+https://github.com/uktrade/django-staff-sso-client.git@add_email_id_support#egg=django-staff-sso-client
django-crispy-forms
django-filter
django-cryptography
django-guardian
django-otp
qrcode
django-log-formatter-ecs

whitenoise
gunicorn
