{% load guardian_tags %}

{% if not pk %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="">Create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="">Sharing available after save</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="">MFA client available after save</a>
  </li>
</ul>

{% else %}

<h2>{{ object.name }}</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% if tab == "view" %} active{% endif %}" href="{% url 'secret:detail' pk=pk %}">View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == "mfa" %} active{% endif %}" href="{% url 'secret:mfa' pk=pk %}">MFA client</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == "files" %} active{% endif %}" href="{% url 'secret:file_list' pk=pk %}">Files</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == "permissions" %} active{% endif %}" href="{% url 'secret:permissions' pk=pk %}">Sharing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == "audit" %} active{% endif %}" href="{% url 'secret:audit' pk=pk %}">Audit</a>
  </li>
  {% get_obj_perms request.user for object as "secret_perms" %}

  {% if "change_secret" in secret_perms %}
  <li class="nav-item">
    <a class="nav-link{% if tab == "delete" %} active{% endif %}" href="{%  url 'secret:delete' pk=pk %}">Delete</a>
  </li>
  {% endif %}
</ul>

{% endif %}
