    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Password manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse justify-content-end"">
        <a href="/logout/" class="btn {% if request.user.is_verified %}btn-warning{% else %}btn-secondary{% endif %}">{{ request.user.get_full_name }}, logout</a>
      </div>
      {% endif %}

    </nav>
