    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Password manager</a>

      {% if request.user.is_authenticated %}
      <div class="ml-auto">
          {% if request.user.is_superuser or request.user.is_staff %}
              <a href="{% url 'admin:index' %}" class="btn btn-danger">Admin section</a>
          {% endif %}

          <a href="/logout/" class="btn {% if request.user.is_verified %}btn-warning{% else %}btn-secondary{% endif %}">{{ request.user.get_full_name }}, logout</a>
      </div>
      {% endif %}

    </nav>
